/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --periwinkle: #84a273 ;
    --bright-turquoise: #84a273;
    --outer-space: #414e58;
    --heliotrope: #7a85a6;
    --gin: #7a85a6;
    --white: #f1f5cf;
  }
  
/* set content highlight color and background */
::selection {
background-color: var(--periwinkle);
color: var(--gin);
}
  
html {
/* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */font-size: 62.5%;
}
  
body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: Arial, Helvetica, sans-serif;
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 2.25rem;
    line-height: 1.5;
    color: var(--gin);
    background-color: var(--white);
  }
  
header {
    width: 96%;
    text-align: left;
  }
  
h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
    color: var(--gin);
    display: inline-block;
  }
  
header h1.first-name {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
  }
  
header h1 .lastname {
    color:  var(--bright-turquoise)
  }
  
header nav {
    padding: 1.2rem;
    float: right;
    margin-top: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
  }
  
header nav ul {
    list-style-type: none;
  }
  
header nav ul li {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
  }
  
a {
    text-decoration: none;
    color: var(--periwinkle)
  }
  
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/rainier.jpg");
    background-size: cover;
    background-position:right;
  }

figure {
    display: flex;
  }

h2,
h3{
  color: var(--gin);
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 3.75rem;
}

img {
    max-width: 25%;
    height:auto;
    margin:auto;
    margin-top: 1.5rem;
  }

main {
    width: 96%;
    margin: 2rem auto;
  }

p {
    padding:2%;
    margin-bottom: 1rem;
    float: right;
  }

/* set base column width to be 100% and update it using media queries for larger screen sizes */ */
.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

  /* make each code card a flexbox column to align and justify content within it */
.code-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-height: 100%;
    padding: 2rem;
    color: var(--gin);
  
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 5px solid var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
    
  /* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 25px var(--bright-turquoise), 0 0 25px var(--bright-turquoise);
}

.code-card .about-header {
    position: static;
    margin: auto;
    margin-right: 2.5rem;
    margin-top:1.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--gin);
    color: var(--outer-space);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }

a {
    text-decoration: none;
    color: var(--periwinkle)
  }

.code-card .work-header {
    position: static;
    margin: auto;
    margin-right: 2.5rem;
    margin-top:1.5rem;
    margin-left: 1px;
    padding: 0.5rem 1rem;
    background-color: var(--gin);
    color: var(--outer-space);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
#work-grid {
    margin-top:1.5rem;
    display: grid;
    max-height: 100%;
    width:100%;
    grid-template-rows: 80% 20%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "first-app first-app first-app"
    "second-app third-app fourth-app";
  }

#first-app {
    grid-area: first-app;
    max-width:100%;
    display: flex;
    justify-content: center;
  }
  
#second-app {
    grid-area: second-app;
    max-width:75%;
    justify-self:start;
    max-height:200px;
    display: flex;
  }
  
#third-app {
    grid-area: third-app;
    max-width:75%;
    justify-self:center;
    max-height:200px;
    display: flex;
  }

#fourth-app {
    grid-area: fourth-app;
    max-width:75%;
    align-self:start;
    justify-self:end;
    max-height:200px;
    display: flex;
  }
  
.word-grid-area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
    display: flex;
    position: relative;
  }
