/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --periwinkle: #84a273 ;
    --bright-turquoise: #84a273;
    --outer-space: #414e58;
    --heliotrope: #7a85a6;
    --gin: #7a85a6;
    --white: #f1f5cf;
  }
  
  /* set content highlight color and background */
  ::selection {
    background-color: var(--periwinkle);
    color: var(--gin);
  }
  
  html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }
  
  body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: Arial, Helvetica, sans-serif;
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 2.25rem;
    line-height: 1.5;
    color: var(--gin);
    background-color: var(--white);
  }
  
  header {
    width: 96%;
    text-align: left;
  }
  
  h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
    color: var(--gin);
    display: inline-block;
  }
  
  header h1.first-name {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
  }
  
  header h1 .lastname {
    color:  var(--bright-turquoise)
  }
  
  header nav {
    padding: 1.2rem;
    float: right;
    margin-top: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
  }
  
  header nav ul {
    list-style-type: none;
  }
  
  header nav ul li {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
  }
  
  a {
    text-decoration: none;
    color: var(--periwinkle)
  }
  